/*style for trending featured content starts*/

.mib4{
background-color: #DCDCDC; 
background-image: url(https://3.bp.blogspot.com/-SltXqVS4o0M/V94gK0mqJaI/AAAAAAAAQPM/u53fNNduHB4fBPKDWep_k7_ddh7Lr4C2wCLcB/s1600/body.jpg); 
height:1270;
width:627px;
display:block;
margin-left:auto;
margin-right:auto;
position: relative;
border:2px solid #DCDCDC;
text-align:justify;
padding: 10px;
}
.ap,.ap0,.ap1,.ap2,.img27{
width:201px;
}
.ap0{
-border:2px solid green;
height:360px;;
float:left;
position:relative;
margin-right:4px;
margin-left:4px;
margin-bottom:12px;
}
.ap{

text-align:center;
-padding:2px;
-border-radius:10px 10px 0px 0px;
height:90px;
padding-top:10px;

}
.span54{
background:white;
font-size:18px;
font-family: Gautami;
font-weight:bold;
width:90px;
height:40px;
border-radius:50%;
display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:0px;
padding-top:12px;
}
.span52{
color:white;
font-size:22px;
font-family: Gautami;
font-weight:bold;
-width:90px;
-height:40px;
-display:block;
-position:relative;
-float:left;
margin-left:auto;
margin-right:auto;
margin-bottom:20px;
-margin-bottom:12px;
-padding-top:1px;
}

.ap1,.img27{
height:150px;
background-color:red;
position:relative;
-top:0px;
float:left;
-text-align:justify;
-text-indent:13px;
-display: block;
-overflow:auto; 
-padding:6px;
}
.ap2{
background:white;
height:110px;
position:relative;
float:left;
}
.span53{
-border:1px solid green;
color:black;
font-size:18px;
font-family: Gautami;
font-weight:bold;
text-align:left;
padding:4px;
overflow:hidden;
word-spacing:-1px;
height:54px;
line-height:20px;
}
.img28{
width:50px;
width:50px;
display:block;
margin-left:auto;
margin-right:auto;
}

/*style for trending featured content starts*/


/*style for table of content starts*/
.li1,.li2,.li3,.li4,.li5,.li6{
color:white;
padding:4px;
margin:2px 2px 2px -38px;
}
.li1:hover,.li2:hover,.li3:hover,.li4:hover,.li5:hover,.li6:hover{
text-decoration:underline;
font-size:18px;
-padding-left:1px;
}
.li1{
background:royalblue;
border-left:6px solid red;
}
.li2{
background:green;
border-left:6px solid brown;
}
.li3{
background:maroon;
border-left:6px solid royalblue;
}
.li4{
background:black;
border-left:6px solid green;
}
.li5{
background:#008080;
border-left:6px solid #FF00AE;
}
.li6{
background:#B8860B;
border-left:6px solid #0000FF;
}
.ul5{
border:2px solid red;
list-style-type:none;
font-size:16px;
margin-top:-1px;
margin-bottom: 0px;
}
.ul6{
-border:1px solid red;
width:272px;
list-style-type:none;
font-size:16px;
margin-top:-1px;
margin-bottom: 0px;
float:left;
display:table;
}
.div55{
color:white;
border-bottom:1px solid red;
border-left:6px solid red;
border-radius:30px 0px 0px 0px;
padding-left:20px;
font-family: Mangal;
font-size:16px;
position:relative;
background:#3AA9CE;
width:300px;
}
/*style for table of content ends*/

/*style for table of content starts*/

.k{
background-color:white;
width:98%;
height:135px;
text-overflow:hidden;
font-family:sansserif;
font-weight:normal;
position:relative;
top:4px;
text-align:justify;
padding-bottom:10px;
padding-top:6px;
padding-left:6px;
margin-top:12px;
margin-bottom:20px;
display:block;
margin-left:auto;
margin-right:auto;
box-shadow: 5px 5px 5px #A9A9A9;
}
.k1{
color:green;
width:60%;
font-size:20px;
font-weight:bold;
position:relative;
float:left;
margin-right:2px;
margin-top:2px;
overflow:hidden;
}
.img8{
width:180px;
height:130px;
-outline:1px solid red;
-outline-offset:2px;
float:left;
margin-left:1px;
margin-right:10px;
margin-top:4px;
margin-bottom:2px;
}
.span1{
color:white;
background:royalblue;
text-decoration:underline;
width:90px;
padding-left:10px;
padding-right:10px;
padding-top:2px;
padding-bottom:2px;
float:right;
margin-top:30px;
position:relative;
margin:1px;
margin-right:10px;
margin-bottom:8px;
}
.span1:hover{
background:#DC143C;
padding-right:2px;
}
.img82{
width:20px;
height:20px;
margin-left:5px;
margin-right:10px;
-margin-top:3px;

}


/*style for table of content ends*/

/*style for table of content hover starts*/
.mib3{
background-color: #DCDCDC;
background-image: url(https://3.bp.blogspot.com/-SltXqVS4o0M/V94gK0mqJaI/AAAAAAAAQPM/u53fNNduHB4fBPKDWep_k7_ddh7Lr4C2wCLcB/s1600/body.jpg);
height:1450px;
width:627px;
display:block;
margin-left:auto;
margin-right:auto;
position: relative;
border:2px solid #DCDCDC;
text-align:justify;
padding: 10px;
}
.k3{
color:white;
background-color:#4169E1;
width:98%;
position:relative;
font-size:16px;
-font-face
font-weight:bold;
text-align:left;
padding:2px;
padding-left:5px;
display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
border-top:3px solid #FF4500;
border-radius:0px 50px 0px 0px;
}
.k7{
color:black;
-border:1px solid blue;
background-color:#FDF5E6;
float:left;
width:66%;
height:72px;
position:relative;
text-indent:22px;
overflow:hidden;
font-size:18px;
-font-face
-font-weight:bold;
text-align:justify;
padding:4px;
padding-bottom:10px;
margin-bottom:4px;
-border-top:3px solid khaki;
}
.h2a{
-border:1px solid red;
color:#FFFFFF;
font-size:30px;
font-family: Gautami;
text-indent:120px;
background-image:url(https://1.bp.blogspot.com/-3U3lNOYn-ss/V9uMBPUV2FI/AAAAAAAAQMk/iQlZlVrWonkV-KC5-J-e8ysm0GC3I9WUgCLcB/s1600/banner3.png);
background-position: center;
display:block;
clip:rect('auto', 'auto', 'auto', 'auto')
;

position:relative;
background-repeat:no-repeat;
margin-left:-21px;
margin-right:0px;
margin-bottom:0px;
height:65px;
width:665px;
vertical-align:middle;
-padding-top:20px;

}
.mahima{
-border:1px solid red;
color:red;
font-size:20px;
font-family: Shruti;
-text-indent:25px;
background-image: url(https://4.bp.blogspot.com/-M2riLdD3wxk/V9uMAViN2-I/AAAAAAAAQMY/tw2l2vd-lYsZt5DmoNT150AV3s9o_s26QCLcB/s1600/background1.png);
background-position: left;
display:block;
clip:rect('auto', 'auto', 'auto', 'auto')
;
position:relative;
background-repeat:no-repeat;
margin-left:-12px;
margin-right:10;
margin-bottom:0px;
margin-top:-10px;
height:50px;
width:650px;
padding-left:0px;
padding-right:0px;
padding-top:10px;
overflow: hidden;

}
.mahima1{
height:35px;
width:530px;
display:block;
margin-left:50px;
margin-right:30px;
overflow:hidden;
padding-top:8px;
}
.span72,.span73,.span74,.span75,.span76,.span77,.span78,.span79{
background-image:url(https://4.bp.blogspot.com/-EcNlfDAnhoI/V9uMGvaUMKI/AAAAAAAAQNg/qQjgzHQsGM0kKa35SqlDgcyuloZczrOSQCLcB/s1600/ring.png);
background-repeat:no-repeat;
padding-left:45px;
padding-right:20px;
bottom:1px;

}


.span72{
color: #6633FF;


}
.span73{
color: #009900;

}
.span74{
color: #CC9900;

}
.span75{
color: #990000;

}
.span76{
color: #FF00CC;

}
.span77{
color: #CC0099;

}
.span78{
color: #666666;

}
.span79{
color: #666666;
padding-left:150px;
padding-right:250px;
background-image:url(https://1.bp.blogspot.com/-TMK-jQ6ErXw/V-c-KdNeYMI/AAAAAAAASos/wv0uF4VDLSkEloU8JZv0d0kBahVIlQJFQCLcB/s1600/mahima4.png);
background-repeat:no-repeat;
background-position:top;
width:500px;
margin-bottom: 10px;
margin-right:50px;
}
.k9,.k91,.k92,.k93,.k94,.k95,.k96,.k97,.k98,.k99{
color:white;
width:173px;
height:173px;
border-radius:0px 40px 0px 40px;
font-size:22px;
font-family:sansserif;
font-weight:normal;
float:left;
text-align:center;

padding:10px;

margin:8px;
outline:4px solid white;
outline-offset:4px;
}
.k9:hover,.k91:hover,.k92:hover,.k93:hover,.k94:hover,.k95:hover,.k96:hover,.k97:hover,.k98:hover,.k99:hover{
border-radius:40px 0px 40px 0px;
}


.k9{
background-color:orange;
}

.k91{
background-color:#6495ed;
}

.k92{
background:crimson;
}
.k93{
background-color:darkblue;
}
.k94{
background-color:darkgreen;
}
.k95{
background-color:darkmagenta;
}
.k96{
background-color:#00FA9A;
}
.k97{
background-color:#708090;
}
.k98{
background-color:black;
}
.k99{
background-color:#FFDD00;
}
.img19{
width:90px;
height:90px;
border:2px solid white;
border-radius:50%;
display: block;
margin-left:auto;
margin-right:auto;
}
.div4{
color:white;
background-color:black;
font-size:20px;
text-align:center;
border-bottom:4px solid #ff9900;
width:100%;
height:30px;
display:block;
margin-left:auto;
margin-right:auto;
-padding-left:10px;
-padding-right:10px;
margin-bottom:10px;
margin-top:8px;
position:relative;
bottom:2px;
float:left;
}

.div4{
color:white;
background-color:black;
font-size:20px;
text-align:center;
border-bottom:4px solid #ff9900;
width:100%;
height:30px;
display:block;
margin-left:auto;
margin-right:auto;
-padding-left:10px;
-padding-right:10px;
margin-bottom:10px;
margin-top:8px;
position:relative;
bottom:2px;
float:left;
}
/*style for table of content hover ends*/
.hr2{
width:98%;height:0px;background-color:white;=border-top:4px solid #696969;=border-bottom:4px solid #696969;align:center;margin:right:auto;position relative;margin-bottom:px;margin-top:0px;box-shadow: 1px 1px 3px 3px #A9A9A9;
}




.mib{
background-color: #DCDCDC;
background-image: url(https://3.bp.blogspot.com/-SltXqVS4o0M/V94gK0mqJaI/AAAAAAAAQPM/u53fNNduHB4fBPKDWep_k7_ddh7Lr4C2wCLcB/s1600/body.jpg);
 
height:auto;
width:627px;
display:block;
margin-left:auto;
margin-right:auto;
-position: relative;
border:2px solid #DCDCDC;
text-align:justify;
padding: 10px;
}
.p{
text-indent:22px;}
=p:first-line{color:maroon;}
p.z1:first-line{color:white}
.sama52:first-letter {font-size:large;color:white;background-color:midnightblue;margin-right:4px;padding:2px;border-bottom:2px solid gold;border-radius:50%;
}


/*style for quote page*/



.h46 {
    background-image: url(https://3.bp.blogspot.com/-E8VjYmioYy0/V9uMF5NBJTI/AAAAAAAAQNc/Onqre9WB1ekl-OpolDgpWB4cXLR3nDYGACLcB/s1600/postedbybanner.png
);
	background-repeat: no-repeat;
	background-position:left;
	display: block;
	clip: rect(auto,auto,auto,auto);
	margin-left:-20px;
	margin-right:-30px;
	margin-bottom:-20px;
	height:80px;
	width:700px;
	
}
.span25{
color:white;
=background-color:#DE3E1E;
font-size:16px;
font-family: Cordia New;
position:absolute;

margin-left:90px;
margin-top:40px;
}




.p1{

background-color:#48d1cc;
border-bottom:4px solid orangered;

}
.p2{
background-color:coral;
border-bottom:4px solid green;
}
.p3{
background-color:maroon;
border-bottom:4px solid gold;
}
.p4{
background-color:dodgerblue;
border-bottom:4px solid olive;
}
.p5{
background-color:green;
border-bottom:4px solid orangered;
}
.p6{
background-color:olive;
border-bottom:4px solid midnightblue;
}
.p7{
background-color:slategray;
border-bottom:4px solid #ff9900;
}
.p8{
background-color:royalblue;
border-bottom:4px solid gold;
}
.p9{
background-color:orange;
border-bottom:4px solid skyblue;
}
.p10{
background-color:midnightblue;
border-bottom:4px solid #ff9900;
}
.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9,.p10{
color:white;
font-family: Century Gothic;
font-size:18px;
text-align:justify;
width:95%;
height:auto;
padding:10px;
text-indent:20px;
text-align:justify;
display:block;
margin-right:auto;
margin-left:auto;
margin-top:20px;
margin-bottom:0px;
position:relative;
outline:6px solid #C0C0C0;

}
.divq{
color:white;
float:right;
bottom:16px;
border-right:2px solid #ff0099;
border-radius:0px 40px 0px 0px;
padding-right:10px;
padding-left:10px;
padding-left:10px;
font-style:italic;
font-family: MV Boli;
=margin-bottom:70px;
margin-top:-20px;

}
/*style for 10 best software*/
.sama10{color:darkgreen;font-size:10px;text-decoration:underline;}
.sama12{
background-color:#FFDDAF;
border-right:6px solid #18B5FF;
border-radius:0px 4px 4x 0px;
padding:10px;
margin:8px;
font-weight:normal;
font-size:18px;
text-align:justify;
text-indent:40px;
line-height:26px;
box-shadow:6px 6px 6px #8F8686;
min-height:150px;
}
.sama17{
background-image:url(https://4.bp.blogspot.com/-j_v2mv6R-b4/V4HSEBR-W0I/AAAAAAAAQLE/ngAI5mbRLVc5Bl6oWXAUEP8zoft_UE-pACLcB/s1600/hanger6.png); background-repeat:no-repeat; background-position:top;
=background-color:#9AFFFF;
border-bottom:6px solid #F39100;
border-radius: 6px 6px 0px 0px;
padding:10px;
padding-top:40px;
margin:8px;
font-size:22px;
font-family: Gabriola;
font-weight:normal;
text-align:justify;
text-indent:40px;
line-height:28px;
box-shadow:6px 6px 6px #8F8686;
}
.sama15{
color:white;
background-color:#DE3E1E;
font-size:20px;
font-family:serif;
outline:2px solid #C7AF00;
outline-offset:4px;
padding:5px;border-radius:50%;margin-right:6px;margin-left:12px;
}
.sama14{
color:white;
background-color:#038EA9;
font-size:20px;
font-family:serif;
outline:2px solid white;
outline-offset:2px;
padding:5px;
border-radius:50%;
margin-right:15px;
margin-left:10px;
border:2px solid #FF4500;
}
.hr1{
width:98%;height:0px;background-color:white;=border-top:4px solid #696969;=border-bottom:4px solid #696969;align:center;display:block;margin-left:auto;margin:right:auto;position relative;margin-bottom:30px;margin-top:30px;box-shadow: 1px 1px 10px 16px #A9A9A9;
}
.hr2{
width:98%;height:0px;background-color:white;=border-top:4px solid #696969;=border-bottom:4px solid #696969;align:center;display:block;margin-left:auto;margin:right:auto;position relative;margin-bottom:px;margin-top:0px;box-shadow: 1px 1px 3px 3px #A9A9A9;
}
.h40{
color:#128057;
font-size:18px;
font-family: Mangal;
border-left:4px solid #3E62F9;border-right:4px solid #5F6511;border-bottom-right-radius:30px;padding-left:0px;margin-left:8px;font-weight:bolder; }
.h41{
color:#034960;
font-size:24px;
font-family: Shruti;
border-left:4px solid #125F15;
border-right:4px solid darkorange;
border-bottom-right-radius:40px;
padding-left:0px;
margin-left:8px;
font-weight:bolder;
margin-bottom:10px }
.div1{
color:white;
background-color:black;
font-size:20px;
text-align:center;
border-bottom:4px solid #ff9900;
width:98%;
display:block;
margin-left:auto;
margin-right:auto;
-padding-left:10px;
-padding-right:10px;
margin-bottom:0px;
position:relative;
}
.div2{
color:white;
background-color:firebrick;
border-right:4px solid gold;
border-left:4px solid slateblue;
border-radius:40%;
text-align:center;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
margin-left:10px;
margin-top:0px;
font-size:16px;
box-shadow:4px 4px 4px #cccccc; }
.div2:hover {
background-color: green; box-shadow: 3px 3px 5px black;font-style:italic;border-right:4px solid red;
border-left:4px solid gold;
}
.img1{
border:1px solid #666666;
outline:1px solid #cc6666;
outline-offset:1px;
width:170px;
height:120px;
float:left;
margin-right:10px;
margin-left:4px;
margin-top:10px;
}
.aon{
color:white;
background-color:#218ECE;
font-size:18px;
text-align:center;
border-bottom:4px solid #B84132;
width:97%;
padding-left:10px;
padding-right:10px;
display:block;
margin-right:auto;
margin-left:auto;
position:relative;
}
.td1{
color:#034960;
-background-color:yellow;
font-size:20px;
font-family:serif;
padding-left:60px;
padding-right:60px;
margin-left:40px;
font-weight:bolder;
margin-bottm:40px;
width:100px;
text-decoration: underline; }
.td2{
color:#034960;
background-color:yellow;
font-size:20px;
font-family:serif;
border-left:4px solid #125F15;
border-right:4px solid darkorange;
border-bottom-right-radius:30px;
padding-left:60px;
padding-right:60px;
margin-left:40px;
font-weight:bolder;
width:200px; }
.td3{
color:white;
background-color:#0C6EFF;
font-size:14px;
font-family:serif;
border-left:4px solid #15EA6E;
border-right:4px solid darkorange;
border-radius:30px 10px 30px 10px;
padding-left:10px;
padding-right:10px;
padding-top:6px;
padding-bottom:6px;
margin-left:40px;
margin-bottom:8px;
margin-top:8px;
font-weight:bolder;
width:160px;
text-align:center; }
.td3:hover{background-color:#009933;padding-left:4px;font-style:italic;text-decoration:underline;}
.td4{
color:#005600;
font-size:14px;
font-family:serif;
}
.span12{
color: black; position: relative; top: -20px; font-size: 16px;
margin-left:70px;
font-family: Andalus;
}
.img11 {border:1px solid #666666;
outline:1px solid #cc6666;
outline-offset:1px;
width:190px;
height:140px;
float:left;
margin-right:10px;
margin-left:4px;
}

.img12 {border:1px solid #666666;
outline:1px solid #cc6666;
outline-offset:1px;
width:190px;
height:140px;
float:left;
margin-right:10px;
margin-left:4px;
}

.img13 {border:1px solid #666666;
outline:1px solid #cc6666;
outline-offset:1px;
width:190px;
height:140px;
float:left;
margin-right:10px;
margin-left:4px;
}

.img14 {border:1px solid #666666;
outline:1px solid #cc6666;
outline-offset:1px;
width:190px;
height:140px;
float:left;
margin-right:10px;
margin-left:4px;
}




.hr11 {width:98%;height:0px;background-color:white;=border-top:4px solid #696969;=border-bottom:4px solid #696969;align:center;display:block;margin-left:auto;margin:right:auto;position relative;margin-bottom:30px;margin-top:30px;box-shadow: 1px 1px 10px 16px #A9A9A9;
}
/*style for top 10 best */
.sama13{
background-image:url(https://4.bp.blogspot.com/-j_v2mv6R-b4/V4HSEBR-W0I/AAAAAAAAQLE/ngAI5mbRLVc5Bl6oWXAUEP8zoft_UE-pACLcB/s1600/hanger6.png);
background-repeat:no-repeat; background-position:top;
=background-color:#9AFFFF;
border-bottom:6px solid #F39100;
border-radius: 6px 6px 0px 0px;
padding:10px;
padding-top:40px;
margin:8px;
font-size:22px;
font-family: Gabriola;
font-weight:normal;
text-align:justify;
text-indent:40px;
line-height:28px;
box-shadow:6px 6px 6px #8F8686;
}
.sama15{
color:white;
background-color:#DE3E1E;
font-size:20px;
font-family:serif;
outline:2px solid #C7AF00;
outline-offset:4px;
padding:5px;border-radius:50%;margin-right:6px;margin-left:12px;
}
.sama14{
color:white;
background-color:#038EA9;
font-size:20px;
font-family:serif;
outline:2px solid white;
outline-offset:2px;
padding:5px;
border-radius:50%;
margin-right:15px;
margin-left:10px;
border:2px solid #FF4500;
}
.img9{
border:1px solid #666666;
outline:1px solid #cc6666;
outline-offset:1px;
width:120px;
height:80px;
float:left;
margin-right:10px;
margin-left:4px;
margin-top:8px;}
/*style for top 10 best*/





/*style for article page*/
 .h43 {
    =background-color:#FFFF33;
	font-family: Sakkal Majalla;
	font-size: 20px;
	=font-style: italic;
	line-height: 22px;
	font-weight: bolder;
	font-variant: normal;
	text-transform: none;
	color: white;
	=text-decoration: underline;
	background-image: url(https://2.bp.blogspot.com/-9lbAxAPP_xQ/V94ieNjJvRI/AAAAAAAAQPY/dc4h227uJ28D_obB--QUBDFuvh50xQG-wCLcB/s1600/blueribbon1.png);
	background-repeat: no-repeat;
	background-position: center center;
	letter-spacing: normal;
	text-align: center;
	vertical-align: middle;
	word-spacing: normal;
	display: block;
	height: 40px;
	padding-top:6px;
	=border:2px solid black;
	clip: rect(auto,auto,auto,auto);
}
  .h44 {
  background-image: url(https://4.bp.blogspot.com/-k7MO67iVS38/V4HKGkX66XI/AAAAAAAAQKM/8vZmN8Mv_p8q5EqFjL8MJOyUf3EZPRKlgCLcB/s1600/pin.png); background-position:40px -5px;; background-repeat:no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #0066FF;
	text-decoration: underline;
	text-align:center;
	height:15px;
	padding:10px;
	
}
.h47 {
background-image:url(https://2.bp.blogspot.com/-1Dk0EPpp74w/V94imPbYkxI/AAAAAAAAQPc/55aSKu7jxiMJq266D_3unuGvHgcFRD0xACLcB/s1600/icon1.png); background-position:left; background-repeat:no-repeat; 
  
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	color: #0066FF;
	text-decoration: underline;
	text-align:center;
	height:15px;
	padding-left:30px;
	padding-top:7px;
	text-align:left;
	height:25px;
	
}

  .div11 {
	font-family: Segoe Print;
	font-size: 14px;
	color: black;
	background-image: url(https://1.bp.blogspot.com/-uOtps3lisPg/V94izM6NTvI/AAAAAAAAQPg/oxPsa0nvwM8D10CRGBrU-PiClv0HcZiyQCLcB/s1600/copy4.png);
	background-repeat: no-repeat;
	background-position:-18px -5px;;
	text-align: justify;
	display: block;
	margin: 10px;
	margin-left:-24px;
	padding: 20px;
	padding-left:20px;
	padding-top:8px;
	padding-bottom:5px;
	padding-right:8px;
	height: auto;
	width: 101%;
	line-height:29.99px;
}
.h42{
color:#2F4F4F;
background-color:#FFC100;
font-size:20px;
font-family:serif;
border-left:4px solid #125F15;border-right:4px solid darkorange;border-bottom-right-radius:30px;padding-left:0px;margin-left:8px;font-weight:bolder;
}
.sama14{
color:white;
background-color:#F38200;
font-size:20px;
font-family:serif;
outline:2px solid #6B0000;
outline-offset:2px;
padding:5px;border-radius:50%;margin-right:4px;margin-left:6px;
}
.span17 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
line-height: normal;
font-weight: bold;
color: #006699;
text-decoration: underline;
text-align: left;
display: block;
float: left;
position: relative;
margin-left:-20px;
margin-top:0px;}
.ul2 {
font-family: Gabriola;
font-size: 22px;
=font-style: italic;
line-height: normal;
=font-weight: bold;
font-variant: normal;
color: #333399;
backgrou=nd-color: #CC9900;
display: block;
list-style-type: disc;
position: relative;
list-style-position: outside;
}
.sama51{
color:white;
background-color:#FD6347;
font-size:23px;
font-family: Monotype Corsiva;
=outline:2px solid #6B0000;
border:3px solid bisque;
padding:5px;
border-radius:50%;
margin-right:4px;
margin-left:0px;
}
.sama18{
background-image:url(https://3.bp.blogspot.com/-MPRMDaaUf_c/V3of704tNcI/AAAAAAAAQHI/MksQRpls8UEyym6N6TY9ibBxJ9crOnFgACKgB/s1600/hanger11.png); background-repeat:no-repeat;background-position:10px -45px;
background-color:bisque;
border:1px solid comsilk;
padding:10px;
padding-top:40px;
margin:8px;
font-weight:normal;
text-align:justify;
text-indent:22px;
box-shadow:4px 4px 6px #8F8686;
font-size:18px;
}
.sama25{
color:white;
background-color:#F38200;
font-size:20px;
font-family:serif;
outline:2px solid #6B0000;
outline-offset:2px;
padding:5px;border-radius:50%;margin-right:4px;margin-left:6px;
}
.sama26{
color:white;
background-color:#FD6347;
font-size:23px;
font-family: Monotype Corsiva;
=outline:2px solid #6B0000;
border:3px solid bisque;
padding:5px;
border-radius:50%;
margin-right:4px;
margin-left:0px;
}


.tufan3{
color:white;
background-color:#FD6347;
font-size:23px;
font-family: Monotype Corsiva;
=outline:2px solid #6B0000;
border:3px solid bisque;
padding:5px;
border-radius:50%;
margin-right:4px;
margin-left:0px;
}
.hr2{
width:98%;height:0px;background-color:white;=border-top:4px solid #696969;=border-bottom:4px solid #696969;align:center;display:block;margin-left:auto;margin:right:auto;position relative;margin-bottom:px;margin-top:0px;box-shadow: 1px 1px 3px 3px #A9A9A9;
}

.h51{
color:#2F4F4F;
background-color:#FFC100;
font-size:20px;
font-family:serif;
border-left:4px solid #125F15;border-right:4px solid darkorange;border-bottom-right-radius:30px;padding-left:0px;margin-left:8px;font-weight:bolder;
}
.div51{
color:white;
background-color:black;
font-size:20px;
text-align:center;
border-bottom:4px solid #ff9900;
width:98%;
display:block;
margin-left:auto;
margin-right:auto;
-padding-left:10px;
-padding-right:10px;
margin-bottom:0px;
position:relative;
}


.h3one{
color:rgb(0, 102, 0); font-family: Georgia;}
.span51 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
line-height: normal;
font-weight: bold;
color: #006699;
text-decoration: underline;
text-align: left;
display: block;
float: left;
position: relative;
margin-left:-20px;
margin-top:0px;}
.ul3 {
color:blue;
background-image:url(https://1.bp.blogspot.com/-hJfVYzf_Svg/V94jM30qVSI/AAAAAAAAQPo/ycwyMDfmVbE-9TWQMJ_50exjlYDxCAjsACLcB/s1600/background.png); 
background-repeat:no-repeat; 
background-position:center;
font-family: Gautami;
font-size: 18px;
line-height: normal;
font-variant: normal;
backgrou=nd-color: #CC9900;
display: block;
list-style-image: url(https://3.bp.blogspot.com/-qtUAwIw56Wg/V9uMEpktf3I/AAAAAAAAQNI/Dxx_QVXaQGEazEU-b06lZakCEsaR7Kh_QCLcB/s1600/icon5.png);
position: relative;
list-style-position: outside;
padding-top:15px;
padding-right:15px;
}
.ul4 {
color:blue;
font-family: Gautami;
font-size: 18px;
line-height: normal;
font-variant: normal;
display: block;
list-style-image: url(*https://3.bp.blogspot.com/-qtUAwIw56Wg/V9uMEpktf3I/AAAAAAAAQNI/Dxx_QVXaQGEazEU-b06lZakCEsaR7Kh_QCLcB/s1600/icon5.png);
position: relative;
list-style-position: outside;
padding-top:15px;
padding-right:15px;
}
.sama50{
background-image:url(https://3.bp.blogspot.com/-MPRMDaaUf_c/V3of704tNcI/AAAAAAAAQHI/MksQRpls8UEyym6N6TY9ibBxJ9crOnFgACKgB/s1600/hanger11.png); background-repeat:no-repeat;background-position:10px -45px;
background-color:bisque;
border:1px solid comsilk;
padding:10px;
padding-top:40px;
margin:8px;
font-weight:normal;
text-align:justify;
text-indent:22px;
box-shadow:4px 4px 6px #8F8686;
font-size:18px;
}
.h2 {
    =background-color:#FFFF33;
	font-family: Garamond;
	font-size: 20px;
	=font-style: italic;
	line-height: 22px;
	font-weight: bolder;
	font-variant: normal;
	text-transform: none;
	color: white;
	=text-decoration: underline;
	background-image: url(https://3.bp.blogspot.com/-vh104dnwscI/V9uMAxQLl3I/AAAAAAAAQMg/eRrgriZ3swY4c6w1i-CVS2vGr5nv6c9UwCLcB/s1600/banner12.png);
	background-repeat: no-repeat;
	background-position:left;
	letter-spacing: normal;
	text-align:left;
	vertical-align: middle;
	word-spacing: normal;
	display: block;
	height: 40px;
	padding-top:27px;
	padding-left:27px;
	=border:2px solid black;
	clip: rect(auto,auto,auto,auto);
	margin-left:-20px;
	margin-right:-30px;
	height:60px;
	}
.ul1{
list-style-image:url(https://2.bp.blogspot.com/-TMpDfSsgovw/V9uMFwMTLCI/AAAAAAAAQNY/1c3lyCJ7DncXVUy4sAf1gI4GdtqwdlYuQCLcB/s1600/pin3.png);
=padding-top:-30px;
list-style-position:inside;
font-family: "Courier New";
}
.h53 {
	color: #000000;
	background-image: url(https://3.bp.blogspot.com/-hEQFkBwmxJc/V94jmu_gy2I/AAAAAAAAQPs/sf9ReCun7CsJn_tXD8NiwHuu0awmF-UOACLcB/s1600/ribbon5.png); background-position:left; background-repeat: inherit;
	font-family: Gautami;
	font-size: 22px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
	=background-color: #FF9900;
	width:auto;
	height:40px;
	margin-left:-30px;
	line-height: -40px;
	text-align: left;
	vertical-align:middle;
	=border:1px solid black;
}
.sama52{
background-image:url(https://3.bp.blogspot.com/-MPRMDaaUf_c/V3of704tNcI/AAAAAAAAQHI/MksQRpls8UEyym6N6TY9ibBxJ9crOnFgACKgB/s1600/hanger11.png); background-repeat:no-repeat;
background-position:10px -45px;
background-color:bisque;
border:1px solid comsilk;
padding:10px;
padding-top:40px;
margin:8px;
font-weight:normal;
text-align:justify;
text-indent:22px;
box-shadow:4px 4px 6px #8F8686;
font-size:18px;
}
.span18 {
color: #990000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
letter-spacing:px;
word-spacing: 4px;
}
.h54 {
	color: #000000;
	background-image: url(https://3.bp.blogspot.com/-hEQFkBwmxJc/V94jmu_gy2I/AAAAAAAAQPs/sf9ReCun7CsJn_tXD8NiwHuu0awmF-UOACLcB/s1600/ribbon5.png);
background-position:left; background-repeat: no-repeat;
	font-family: Gautami;
	font-size: 22px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
	width:auto;
	height:40px;
	margin-left:-45px;
	margin-top:10px;
	line-height: -40px;
	text-align: left;
	vertical-align:middle;
	padding-left:10px;
}
.h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	color: red;
	text-decoration: underline;
	padding:6px 20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:2px;
	margin-left:2px;
	text-align:center;
	
}
.h1:hover{
color:white;
background-color:#003399;
padding:6px 20px;
border-left: 6px solid #8B0000;
border-right: 6px solid #008000;
border-radius:30px 0px 30px 0px;

}
.h55{
color: white;
background-image: url(https://4.bp.blogspot.com/-pCXvS0e8jVE/V9uMHoTOmjI/AAAAAAAAQNs/UQtFeRDRgck2C4OGhGu67GNIKZg_cwhGwCLcB/s1600/zip.png);
background-repeat:no-repeat;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	text-decoration: underline;
	padding:6px 20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:2px;
	margin-left:2px;
	text-align:center;
	width:589px;
	height:25px;
	margin-left:-17px;}
	

.highlight{
color:#003366;
font-weight:bold;
}
.h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	color: red;
	text-decoration: underline;
	padding:6px 20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:2px;
	margin-left:2px;
	text-align:center;
	
}
.h1:hover{
color:white;
background-color:#003399;
padding:6px 20px;
border-left: 6px solid #8B0000;
border-right: 6px solid #008000;
border-radius:30px 0px 30px 0px;

}


.highlight{
color:#003366;
font-weight:bold;
}
.sama53 {
	background-image: url(https://2.bp.blogspot.com/-JGxnDKgQGFg/V94j06fxJBI/AAAAAAAAQP0/pdsV4CXY6DQ52FfdqULyDWv8GdY3V8i3wCLcB/s1600/icon2.png);
background-repeat:no-repeat; background-position:left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	line-height: normal;
	font-weight: bolder;
	color: #CD0000;
	text-decoration: underline;
	padding-left:40px;
	padding-top:7px;
	padding-bottom:7px;
}
.ol1{
list-style-type: decimal; color: #006600; font-family: Mangal;font-size:15px;
}
.ol2{
list-style-type: upper-alpha; color: #006600; font-family: Mangal;font-size:15px;
}


/*style for article ends*/




/*style for top 10 best videos*/
/*style for marquee and ribbon start*/
.div-0-cqm { background-color: DarkOliveGreen; background-image: url("https://googledrive.com/host/0B__GwARb0CUhODZuN2pLQ3ByTDQ/"); background-position: 30px 8px; background-repeat: no-repeat; border-color: rgb(51, 51, 51); border-spacing: 2px; border-top-left-radius: 15px; border-top-right-radius: 15px; color: rgb(51, 51, 51); font-family: Arial,Helvetica,sans-serif; font-size: 12px; height: 45px; line-height: 16px; perspective-origin: 1px 17.5px; text-align: left; transform-origin: 100px 17.5px 0px; width: 400px;position: relative;margin-bottom: 90px }

.div-2-cqm { background-image: url("https://lh3.googleusercontent.com/-hn3ayBDGkYw/VQGNmIsVS1I/AAAAAAAAFW8/tObXKfHZxVk/h120/coming-lg.png");
background-repeat: no-repeat; border-color: OliveDrab; bottom: 1476.97px; color: AntiqueWhite; height: 150px; left: 528px; perspective-origin: 61.5px 75px; position: absolute;right: 12px; top: 40px; transform-origin: 61.5px 75px 0px; width: 190px;z-index:2 }
.span-3-cqm { display: block; font-size: 20px; font-weight: 100; height:
30px; line-height: 35px; padding-bottom: 10px; padding-top: 20px; perspective-origin: 61.5px 32.5px; text-align: center; transform-origin:
61.5px 32.5px 0px; width: 103px; }
.span-4-cqm { display: block; font-size: 20px; font-weight: 100; height:
30px; letter-spacing: 1px; line-height: 32px; padding-left: 2px; padding-right: 10px; perspective-origin: 61.5px 17.5px; text-align: center; transform-origin: 61.5px 17.5px 0px; width: 100px; }
.h2-2-cqm { color: OrangeRed; font-size: 18px; height: 22px; line-height: 14px; margin-bottom:2px; margin-top: -18px; padding: 2px 2px; perspective-origin: 342px 18.5px; transform-origin: 342px 18.5px 0px; width: 99.5%;
background-color: black;
background-image: url("https://lh5.googleusercontent.com/-PvnqByvaiUI/VQG1U7j4MuI/AAAAAAAAFXM/9nJRxwn7a9Y/h120/templatemo_list_icon.jpg");
background-position:
30px 8px; background-repeat: no-repeat; 
display:inherit;
margin-left:auto;
margin-right:auto;
-float:left;
position: relative;
text-align:center;
padding: 2px; }
<!--style for marquee and ribbon ends-->
p:first-line{color: #892311; font-size:18px; font-style:italic;}
=p:first-letter{font-size:large;color:white;background-color:midnightblue;margin-right:4px;padding:2px;border-bottom:2px
solid gold;border-radius:50%;
}
.nk{
background-color:white; height:520px;
width:500px;
margin: 2px 5px 5px 5px;
padding: 2px 2px 2px 2px;
float:left;
position: relative;
border: 5px double RosyBrown;
border-radius: 20px;
-moz-box-shadow: inset -1px -3px 17px 11px #c0217f;
-webkit-box-shadow: inset -1px -3px 17px 11px #c0217f;
box-shadow: inset -1px -3px 17px 11px #c0217f;
}
.nk1{
background-color: #FFCCCC ; height: auto;
width:97%;
margin: 2px 5px 5px 5px;
padding: 2px 2px 2px 6px;
float:left;
position: relative;
border: 2px solid #999999;
border-radius: 15px;
}
.sama16{
width:96%;
background-image: url(https://2.bp.blogspot.com/-D1rb3UWo0fQ/V3ocAWJYX0I/AAAAAAAAQDA/UXPsR4mnWecRDei1WRyR5t0SmC2hk5I_ACLcB/s1600/hanger3.png); 
background-position: -20px 0px; 
background-repeat:no-repeat; 
padding:10px;
padding-top: 40px;
margin:4px;
font-family: Gabriola;
font-size:22px;
font-weight:normal;
line-height:28px;
text-align:justify;
text-indent:40px;
display:block; margin-left:auto; margin-right:auto;
margin-bottom:10px;
}
.div-0-moi {
width:99%; background-image: url(https://4.bp.blogspot.com/-k_79sTxLGA4/V3ob_0S6VpI/AAAAAAAAQC8/G3op3l2ECeEGz0yst_KxpcGYKBojZ0PegCLcB/s1600/hanger2.png); background-position: -20px 0px; background-repeat:no-repeat; color: rgb(51, 51, 51); font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 22px; height: auto;
margin-top: 5px;
margin-bottom: 8px;
perspective-origin: 151px 78.5px; transform-origin: 151px 78.5px 0px; line-height: auto; text-decoration: none; font-size:18px; color: rgb(242,242,242);
padding-top: 35px;
}
.div-0-moi,.sama16{
box-shadow: 6px 6px 5px #808080;
display:block;
margin-left:auto; margin-right:auto;
position: relative;
float:left;
text-align:justify; }

.div-1-moi {height: auto; padding: 10px; perspective-origin: 150px 62px;
transform-origin: 150px 62px 0px; width: 270px;font-color: white; }
.mahima7{ background-color:#FFFFFF; border: 4px solid #FFFFFF;display:block;margin-left:auto;margin-right:auto;margin-top:6px;margin-bottom:6px;}
.div3{
color:white;
background-color:black;
font-size:18px;
text-align:center;
border-bottom:4px
solid #ff9900;
width:97%;
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
display:block;
margin-right:auto;
margin-left:auto;
margin-top:10px;
position:relative;
float:left;
}
.del{
color:black;
background-color:#F5F5DC;
border-right:6px solid #FF9D00;
border-radius:0px 4px 4x 0px;
padding:10px;
margin:8px;
font-size:14px;
font-weight:normal;
text-align:justify;
text-indent:22px;
-box-shadow:6px 6px 6px #AFAFAF;
min-height:50px;
}
.sama29{
color:black;
background-color:#FFD000;
font-size:30px;
font-family:serif;
border:2px solid white;
outline:2px solid white;
outline-offset:4px;
padding:5px;border-radius:50%;margin-right:4px;margin-left:10px;
margin-right:10px;
}
.h45{
color:white;
background-color:-yellow;
font-size:24px;
font-family:serif;
border-left:6px dotted #FF9D00;border-right:8px dotted darkorange;border-bottom-right-radius:30px;padding-left:6px;margin-left:8px;font-weight:bolder;
margin-right:10px;
margin-top:-1px;
}

.hr2{
width:98%;height:0px;background-color:white;=border-top:4px solid #696969;=border-bottom:4px solid #696969;align:center;display:block;margin-left:auto;margin:right:auto;position relative;margin-bottom:px;margin-top:0px;box-shadow: 1px 1px 3px 3px #A9A9A9;
}
/*styles for jokes page start*/
.div52{

color:#ff6600;

 background-color:#F5F5F5;

font-size:18px;

font-weight:bold;

text-align:center;

border-top:6px solid #FC6800;

width:95%;

height:auto;

padding:4px;

position:relative;
display:block;
margin-right:auto;
margin-left:auto;
outline:1px solid white;
outline-offset:6px;

}

.p11{

color:white;

background-color:#4169E1;

font-size:18px;

font-weight:normal;

text-align:justify;

text-indent:20px;

border-bottom:4px solid orangered;

border-top:4px solid olive;

width:94%;

border-radius:40px 0px 40px 0px;

height:auto;
position:relative;
padding:10px;
display:block;
margin-right:auto;
margin-left:auto

}



.div6{

color:white;
background-color:black;
font-size:20px;
text-align:center;
border-bottom:4px solid #ff9900;
width:96%;
padding-left:8px;
padding-right:8px;
margin-bottom:0px;
margin-top:12px;
position:relative;
display:block;
margin-left:auto;
margin-right:auto;
}
.hr2{
width:98%;height:0px;background-color:white;=border-top:4px solid #696969;=border-bottom:4px solid #696969;align:center;display:block;margin-left:auto;margin:right:auto;position relative;margin-bottom:px;margin-top:0px;box-shadow: 1px 1px 3px 3px #A9A9A9; 
}
.hr3{
background-image:url(https://1.bp.blogspot.com/-9m4dyGldDyw/V94j9N4EQtI/AAAAAAAAQP4/NtbCMg0EL7oTatRZxI0yO1eADwmJcEKpACLcB/s1600/hbar.png); width:100%; height:8px; background-size:590px 6px; ; 
}
.hr4{
background-image: url(https://4.bp.blogspot.com/-IbG-zv-BG2Y/V9uUORB-GtI/AAAAAAAAQN8/1-Ai6MzrS2YF1JmvjIKwXL22vTOLZAadwCLcB/s1600/hr3.png); height:20px; background-size:690px 20px; background-repeat:no-repeat ; 
}

.hr21 {width:98%;height:0px;background-color:white;=border-top:4px solid #696969;=border-bottom:4px solid #696969;align:center;display:block;margin-left:auto;margin:right:auto;position relative;margin-bottom:px;margin-top:0px;box-shadow: 1px 1px 3px 3px #A9A9A9; 
}
/*style for jokes page ends*/
/*style for fact page start*/
.z{
color:black;
background:#DBDBA9;
width:98%;
min-height:40px;
font-size:18px;
text-indent:8px;
text:align:justify;
border-left:4px solid #41ade1;
padding:10px 4px 4px 4px;
outline:1px solid #ffffc3;
outline-offset:2px;

}
.z1{
background-image:url(https://2.bp.blogspot.com/-wnuexUY1jlY/V3ofmCkZHsI/AAAAAAAAQHE/wGJmWpbqrTgpFvuRV_nDCokbLuAbKBCMgCKgB/s1600/2%2B%252812%2529.png); background-repeat:no-repeat;background-position:-120px -50px;
color:white;
-background-color:royalblue;
width:97%;
min-height:40px;
font-size:20px;
text-indent:25px;
text:align:justify;
=border-left:4px solid orange;
padding:30px 10px 6px 6px;
-outline:1px solid #3eb371;
-outline-offset:2px;
display:block;
margin-left:auto;
margin-right:auto;
margin-top:-2px;
box-shadow: 0px 8px 14px #4D5056;
}



.div53{
color:white;
background-color:black;
font-size:18px;
text-align:center;
border-bottom:4px solid #ff9900;
width:97%;
padding-left:10px;
padding-right:10px;
display:block;
margin-right:auto;
margin-left:auto;
margin-top:-10px;
position:relative;
}


/*style for fact page ends*/

/* style for how to tip start*/
.img2{
border:1px solid #666666;
outline:1px solid #cc6666;
outline-offset:1px;
width:80%;
height:320px;
position:reative;
display:block;
margin-right:auto;
margin-left:auto;
margin-top:8px;
margin-bottom:10px;
}
.con1{
color:white;
background-color:tomato;
border-radius:50%;
font-size:20px;
font-weight:bolder;
padding:2px;
margin-right:6px;
-outline:2px solid darkmagenta;
-outline-offset:4px;
-display:block;
}

.tu{
border-right:6px solid #1BBBDB;
background-color:#E4F3E7;
padding:10px;
}
/*style for how to tip ends*/

/*style for featured content strts*/
.h4-1 {
background-image:url(https://1.bp.blogspot.com/-NrkjY5FjkOc/V9-hudt1_cI/AAAAAAAAQQY/d7qzwacuoZo6oQE4dUtaCssebWbq_616ACLcB/s1600/hbackground.png);
background-repeat:no-repeat;
color: white; 
font-size: 18px; 
font-weight: 600; 
height: 24px;
display:block;
margin-left:auto;
margin-right:auto; 
margin-bottom: 0px; 
margin-top: 10px; 
padding-bottom: 5px; 
padding-left: 8px;
padding-right:4px; 
padding-top: 4px; 
position: relative; 
width: 639px; 
z-index: 666;
-background-color: red;
border-radius:15px 15px 0px 0px; 
}
.mib2{
background-color: #DCDCDC;
background-image: url(https://3.bp.blogspot.com/-SltXqVS4o0M/V94gK0mqJaI/AAAAAAAAQPM/u53fNNduHB4fBPKDWep_k7_ddh7Lr4C2wCLcB/s1600/body.jpg); 
height:380px;
width:627px;
display:block;
margin-left:auto;
margin-right:auto;
position: relative;
border:2px solid #DCDCDC;
text-align:justify;
padding: 10px;
}
.img22{
width:20px;
height:20px;
margin-left:5px;
margin-right:30px;
-margin-top:3px;

}
.span22{
color: #6633FF;
}
.k4{
color:white;
background-color:orange;
width:192px;
height:173px;
-border-radius:0px 40px 0px 40px;
font-size:18px;
font-family:sansserif;
font-weight:normal;
float:left;
text-align:center;
padding:0px;
margin:8px;
outline:4px solid white;
-outline-offset:4px;
overflow:hidden;
}
.k4:hover{
background-color:red;
-border-radius:40px 0px 40px 0px;
}

.img10{
width:100%;
height:120px;
-border:2px solid white;
-border-radius:50%;
display: block;
margin-left:auto;
margin-right:auto;
}
/*style for featured content ends*/
/*style for popular posts for sidebar starts*/
.h2-1 {
background-image:url(https://2.bp.blogspot.com/-y0nOzDNt4VU/V9-hwSIqLNI/AAAAAAAAQQc/IFUWIzXDA6gcQAcJm8MIBrJb7_RAt7fGwCLcB/s1600/hbackground1.png);
background-repeat:no-repeat;
color: white; 
font-size: 18px; 
font-weight: 600; 
height: 24px; 
margin-bottom: 15px; 
margin-top: 2px;
display:block;
margin-left:auto;
margin-right:auto; 
padding-bottom: 5px; 
padding-left: 8px;
padding-right:4px; 
padding-top: 4px; 
position: relative; 
width: 256px; 
z-index: 666;
-background-color: red;
border-radius:15px 15px 0px 0px; 
}
.div56 { 
border: 2px solid #0E6BC1;
background-image: url(https://3.bp.blogspot.com/-OCCMSfueOis/V9-huAwF0iI/AAAAAAAAQQQ/DMEjssaHb7wWmzC_pxgoy1Z0WfiBCB5oQCLcB/s1600/background1.jpg);  
height: auto; 
line-height: 19.5px; 
margin-bottom: 15px; 
margin-top: -15px;
display:block;
margin-left:auto;
margin-right:auto; 
padding: 2px 2px; 
width: 260px;
}
.ul11 { 
-border:2px solid black;

height: auto; 
list-style-type: none; 
margin-bottom: 4px; 
margin-top: 2px; 
padding-left: 1px;
padding-right: 1px; 
width: 258px; 
}
.li22 {
background-color:#FFF5EE;
border:1px solid orange; 
height: 70px; 
list-style-type: none; 
padding-bottom: 6px; 
padding-top:6px;
padding-left:4px;
margin:4px 2px;
}
.div57 { 
-border:1px solid orange; 
float: left; 
margin-bottom: 5px; 
margin-right: 4px; 
position:relative;  
}
.a1 {
color:#4169E1; 
text-decoration: none;
font-weight:bold;
}
.a1:hover{
color:teal;
} 
.a1:visited{
color:black;
}
.div58{
-border:1px solid orange;
text-align:justify;
padding:2px;
font-size:14px;
overflow:hidden;
.img25,.div57{
width: 85px; 
height:70px;
}






/*style for popular posts for sidebar ends*/
/*style for popular posts1 for sidebar starts*/
.li23 {
background-color:#FFF5EE;
border-bottom:2px solid red; 
height: 190; 
list-style-type: none; 
padding-bottom: 6px; 
padding-top:6px;
padding-left:4px;
margin:4px 2px;
}
.div59 { 
border:1px solid red;
margin-bottom: 5px; 
margin-right: 4px; 
position:relative;  
}
.div61{
border:1px solid orange;
text-align:justify;
padding:2px;
font-size:44px;
overflow:hidden;
}
.div60{ 
margin-bottom: 5px; 
margin-right: 4px; 
position:relative;  
}




/*style for table of content starts*/

.k{
background-color:white;
width:98%;
height:135px;
text-overflow:hidden;
font-family:sansserif;
font-weight:normal;
position:relative;
top:4px;
text-align:justify;
padding-bottom:10px;
padding-top:6px;
padding-left:6px;
margin-top:12px;
margin-bottom:20px;
display:block;
margin-left:auto;
margin-right:auto;
box-shadow: 5px 5px 5px #A9A9A9;
}
.k1{
color:green;
width:60%;
font-size:20px;
font-weight:bold;
position:relative;
float:left;
margin-right:2px;
margin-top:2px;
overflow:hidden;
}


/*style for table of content1 ends*/








